<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>学生添加</title>
		<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		<style>
			label span{color: #ff0000; padding-right: 5px;}
		</style>
	</head>

	<body>
		<h2>学生添加</h2>
		<form id="myForm" class="form-horizontal" method="post" action="/team">
			<div class="form-group">
				<label class="col-sm-1 control-label"><span>*</span>学生ID</label>
				<div class="col-sm-9">
					<input required="required" name="student_id" class="form-control" placeholder="请输入学生ID"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"><span>*</span>中文名称</label>
				<div class="col-sm-9">
					<input required="" name="student_name" class="form-control" placeholder="请输入学生中文名称"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">email</label>
				<div class="col-sm-9">
					<input name="email" class="form-control" placeholder="请输入学生email"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">电话号码</label>
				<div class="col-sm-9">
					<input name="phoneNumber" class="form-control" placeholder="请输入学生电话号码"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">学习进度</label>
				<div class="col-sm-9">
					<input name="progress" class="form-control" placeholder="学习进度默认0"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"></label>
				<div class="col-sm-9">
					<button id="btnAdd" type="button" class="btn btn-sm btn-info">提&nbsp;交</button>
					<button type="reset"  class="btn btn-sm btn-warning">重&nbsp;置</button>
				</div>
			</div>
		</form>		
	</body>
</html>
<script>
	$(function () {
		//提交按钮的单击事件
		$("#btnAdd").click(function () {
			$.ajax({
				type: "POST",
				url: "/student/insert/",
				data: $("#myForm").serialize(),
				dataType:"json",
				//所以ajax请求都要加上token，也就是一下代码
				beforeSend: function(xhr) {
					// 在发送请求之前设置 Authorization 头部
					var token = window.localStorage.getItem("token"); // 假设令牌存储在浏览器的本地存储中
					xhr.setRequestHeader("Authorization", "Bearer " + token);
				},
				success: function(vo){
					if(vo.code==200) {
						window.location.href = "/pages/team/list.html";
					}else{
						alert("添加失败！"+vo.msg);
					}
				}
			});
		});
	});
</script>