<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>更新学生</title>
		<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
		<style>
			label span{color: #ff0000; padding-right: 5px;}
		</style>
	</head>

	<body>
		<h2>学生修改</h2>
		<form id="myForm" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-1 control-label"><span>*</span>学生ID</label>
				<div class="col-sm-9">
					<input required="required" name="student_id" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"><span>*</span>学生姓名</label>
				<div class="col-sm-9">
					<input required="" name="student_name" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">email</label>
				<div class="col-sm-9">
					<input name="email" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">电话号码</label>
				<div class="col-sm-9">
					<input name="phoneNumber" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">完成进度</label>
				<div class="col-sm-9">
					<input name="process" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">证书ID</label>
				<div class="col-sm-2">
					<input name="GradeAndCertificateID" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">获奖证书</label>
				<div class="col-sm-2">
					<select name="area" class="form-control">
         				<option></option>
						<option value="1">国家奖学金</option>
						<option value="2">ARM证书</option>
						<option value="3">蓝桥杯证书</option>
						<option value="4">创业创新证书</option>
						<option value="5">华为网络证书</option>
			      	</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"></label>
				<div class="col-sm-9">
					<button id="btnUpdate" type="button" class="btn btn-sm btn-info">提&nbsp;交</button>
					<button type="reset"  class="btn btn-sm btn-warning">重&nbsp;置</button>
				</div>
			</div>
		</form>		
	</body>
</html>
<script>
	window.onload = function() {
		var urlParams = new URLSearchParams(window.location.search);
		var id = urlParams.get('student_id');
		if (id) {
			document.getElementsByName('student_id')[0].value = id;
		}
	};
	String.prototype.GetValue= function(para) {
		let reg = new RegExp("(^|&)"+ para +"=([^&]*)(&|$)");
		let r = this.substr(this.indexOf("\?")+1).match(reg);
		if (r!=null) return unescape(r[2]); return null;
	}
	$(function () {
		//根据地址获取teamId,如果null则执行增加，否则执行更新
		let url = document.location.toString();//获取URL
		let teamId=url.GetValue("teamId");
		let pageNum=url.GetValue("pageNum");
		let pageSize=url.GetValue("pageSize");
		//alert(teamId);
		//根据id查询要更新的球队信息并回显到页面
		queryById(teamId);
		//提交按钮的单击事件--实现真正的更新
		$("#btnUpdate").click(function () {
			$.ajax({
				type: "POST",//这里必须写POST
				url: "/team/"+teamId,
				data: $("#myForm").serialize()+"&_method=PUT",
				dataType:"json",
				success: function(vo){
					if(vo.code==200) {
						window.location.href = "/pages/team/list.html?pageNum="+pageNum+"&pageSize="+pageSize;
					}else{
						alert("更新失败！"+vo.msg);
					}
				}
			});
		});
	});
	function queryById(teamId) {
		$.ajax({
			type: "GET",
			url: "/team/"+teamId, //RESTful风格的API定义
			data: "",
			success: function (vo) {
				let obj=vo.obj;
				let teamId=obj.teamId;
				let teamLogo=obj.teamLogo;
				let teamName=obj.teamName;
				let chineseName=obj.chineseName;
				let coach=obj.coach;
				let stadium=obj.stadium;
				let location=obj.location;
				let time=obj.createTime;
				let area=obj.area;
				$("input[name='teamId']").val(teamId);
				$("input[name='teamName']").val(teamName);
				$("input[name='chineseName']").val(chineseName);
				$("input[name='coach']").val(coach);
				$("input[name='stadium']").val(stadium);
				$("input[name='location']").val(location);
				$("input[name='createTime']").val(time);
				$("select[name='area']").val(area);
				if(teamLogo!=null){
					$("img[name='teamLogo']").attr("src","/img/uploadFile/"+teamLogo);
				}else{
					$("img[name='teamLogo']").addClass("hidden");
					$("img[name='teamLogo']").parent().html("还没有上传logo图片");
				}
			}
		});
	}

</script>