<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzk.dao.AssignmentsubmissionsMapper">
  <resultMap id="BaseResultMap" type="com.qzk.pojo.Assignmentsubmissions">
    <id column="submission_id" jdbcType="INTEGER" property="submission_id" />
    <result column="student_id" jdbcType="INTEGER" property="student_id" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacher_id" />
    <result column="assignment_name" jdbcType="VARCHAR" property="assignment_name" />
    <result column="submission_date" jdbcType="DATE" property="submission_date" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="submission_content" jdbcType="LONGVARCHAR" property="submission_content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assignmentsubmissions
    where submission_id = #{submission_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qzk.pojo.Assignmentsubmissions">
    insert into assignmentsubmissions (submission_id, student_id, teacher_id, 
      assignment_name, submission_date, grade, 
      submission_content)
    values (#{submission_id,jdbcType=INTEGER}, #{student_id,jdbcType=INTEGER}, #{teacher_id,jdbcType=INTEGER}, 
      #{assignment_name,jdbcType=VARCHAR}, #{submission_date,jdbcType=DATE}, #{grade,jdbcType=INTEGER}, 
      #{submission_content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qzk.pojo.Assignmentsubmissions">
    update assignmentsubmissions
    set student_id = #{student_id,jdbcType=INTEGER},
      teacher_id = #{teacher_id,jdbcType=INTEGER},
      assignment_name = #{assignment_name,jdbcType=VARCHAR},
      submission_date = #{submission_date,jdbcType=DATE},
      grade = #{grade,jdbcType=INTEGER},
      submission_content = #{submission_content,jdbcType=LONGVARCHAR}
    where submission_id = #{submission_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select submission_id, student_id, teacher_id, assignment_name, submission_date, grade, 
    submission_content
    from assignmentsubmissions
    where submission_id = #{submission_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select submission_id, student_id, teacher_id, assignment_name, submission_date, grade, 
    submission_content
    from assignmentsubmissions
  </select>
</mapper>