<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzk.dao.GradesandcertificatesMapper">
  <resultMap id="BaseResultMap" type="com.qzk.pojo.Gradesandcertificates">
    <id column="GradeAndCertificateID" jdbcType="INTEGER" property="gradeAndCertificateID" />
    <result column="course_id" jdbcType="INTEGER" property="course_id" />
    <result column="FinalGrade" jdbcType="INTEGER" property="finalGrade" />
    <result column="CertificateURL" jdbcType="VARCHAR" property="certificateURL" />
  </resultMap>
  <!-- Result map for Certificate -->
  <resultMap id="certificateMap" type="com.qzk.pojo.Gradesandcertificates">
    <id property="id" column="certificate_id"/>
    <result property="url" column="certificate_url"/>
    <!-- other fields -->
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gradesandcertificates
    where GradeAndCertificateID = #{gradeAndCertificateID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qzk.pojo.Gradesandcertificates">
    insert into gradesandcertificates (GradeAndCertificateID,
      course_id, FinalGrade, certificateURL
      )
    values (#{gradeAndCertificateID,jdbcType=INTEGER},
      #{course_id,jdbcType=INTEGER}, #{finalGrade,jdbcType=INTEGER}, #{certificateURL,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qzk.pojo.Gradesandcertificates">
    update gradesandcertificates
    set course_id = #{course_id,jdbcType=INTEGER},
        FinalGrade = #{finalGrade,jdbcType=INTEGER},
        certificateURL = #{certificateURL,jdbcType=VARCHAR}
    where GradeAndCertificateID = #{gradeAndCertificateID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select GradeAndCertificateID,  course_id, FinalGrade, certificateURL
    from gradesandcertificates
    where GradeAndCertificateID = #{gradeAndCertificateID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select GradeAndCertificateID,  course_id, FinalGrade, certificateURL
    from gradesandcertificates
  </select>
</mapper>